.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  display: none;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }
  &__logo {
    height: 25px;
    max-width: 200px;
    display: none;
  }
  &__phone-wrap,
  &__logo-icon,
  &__schedule,
  &__text-wrap {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    &__logo {
      height: 30px;
      max-width: 225px;
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: block;
    &__wrap {
      padding: 15px 0;
    }
    &__full-logo {
      display: none;
    }
    &__logo {
      display: inline-flex;
      height: 30px;
      max-width: 300px;
    }
    &__phone-wrap,
    &__schedule,
    &__text-wrap {
      display: flex;
    }
    &__schedule {
      font-size: 16px;
      font-weight: 500;
      order: -1;
    }
    &__phone-link {
      color: $titleColor;
      font-size: 16px;
      display: flex;
      align-items: center;
      transition: all 250ms ease-in-out;
    }
    &__phone-link:hover {
      color: $accentColor;
    }
    &__phone-icon {
      width: 24px;
      height: 24px;
      animation: blink 1s infinite;
      fill: none;
      stroke: $accentColor;
      margin-right: 5px;
    }
    &__phone-span {
      color: $accentColor;
    }
    &__text-wrap {
      flex-direction: column;
    }
    &__phone-wrap {
      margin-top: 5px;
    }
    &__logo-icon {
      height: 62px;
      display: flex;
      max-width: 200px;
    }
  }
  .right {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .header {
    &__wrap {
      padding: 15px 0;
    }
    &__logo {
      height: 70px;
      max-width: 390px;
    }
    &__logo-icon{
      height:90px;
      max-width: 400px;
    }
  }
  .left {
    display: flex;
  }
  .right {
    display: none;
  }
}

@keyframes blink {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
