$backgroundColor: #141414;
$accentColor: #39ff14;
$titleColor: #fff;
$textColor: #999;
$borderColor: #393837;
$textHover: #39ff14;
$iconBorder: #176608;
$gradientOverlay: linear-gradient(90deg,#2b2a29 0%, rgba(43, 42, 41, 0.98) 23.95%,rgba(43, 42, 41, 0.8) 67.55%,rgba(43, 42, 41, 0.3) 87.55%,rgba(102, 102, 102, 0) 100%);
$gradientOverlayBlack: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
